.details-div ul{
    color: rgb(255, 0, 255);
}
.details-div ul li {
    margin-bottom: 13px;
    padding: 2px;
}
.details-div .d-title{
    font-family: "Playwrite AU QLD", cursive;
    font-weight: bold;
}
